<header>
  <nav>
    <ul class=" flex justify-center items-center">
      <li><a href=""></a></li>
      <li><h2 class="text-drab font-primary text-lg font-bold">Newsboks</h2></li>
      <li><a href=""></a></li>
    </ul>
  </nav>
</header>