<template id="category-template">
  <li class="categories font-primary">
    <div class="w-full border-iceBorder h-item border-b flex cursor-pointer items-center px-4 ">
      <div class="w-10 h-10 relative rounded-circle border-2 border-altBorder shadow-big">
        <img src="/assets/images/icn_surfing.svg" alt="Icon" class="absolute w-4/6 translate-50 left-1/2 top-1/2">
      </div>

      <h3 class="category uppercase text-drab ml-3 font-bold select-none">Sport</h3>
      <ion-icon name="chevron-forward-outline" class="ml-auto text-2xl"></ion-icon>
    </div>

    <ul class="article-list hidden">
    </ul>
  </li>
</template>