<li class="w-full border-ice h-item border-b border-t flex items-center px-4 font-primary">
  <div class="w-10 h-10 relative rounded-circle border-2 border-snow shadow-big">
    <img src="/assets/images/icn_surfing.svg" alt="Icon" class="absolute w-4/6 translate-50 left-1/2 top-1/2">
  </div>

  <h3 class="uppercase text-drab ml-3">Sport</h3>
  <ion-icon name="chevron-down-outline" class="ml-auto text-2xl"></ion-icon>
</li>