<template id="category-template">
  <li class=" h-cItem flex justify-between items-center px-6">
    <h3 class="category uppercase font-bold text-sm text-drab tracking-wide">Sports</h3>
    <div class="btn bg-disable w-16 h-8 rounded-full relative cursor-pointer ">
      <div class="rounded-circle absolute w-6 h-6 left-0 top-1/2 bg-snow translateY-50 left-3px shadow-circle">
      </div>
    </div>
  </li>
</template>