<template id="category-template">
  <li class=" h-cItem flex justify-between items-center px-6 select-none">
    <h3 class="category uppercase font-bold text-sm text-drab tracking-wide select-none">Sports</h3>
    <div class="btn bg-disable w-16 h-8 rounded-full relative cursor-pointer select-none">
      <div class="rounded-circle absolute w-6 h-6 left-0 bg-snow top-4px shadow-circle select-none">
      </div>
    </div>
  </li>
</template>